<% include ../partials/header %>

<h1>add a new title</h1>

<form action="/title" method="POST">
    <input type="text" placeholder="name" name="title[name]">
    <button>Add title</button>
</form>

<% include ../partials/footer %>