li.list-group-item {
    display: flex;
    align-items: center;
}

.flex-parent {
    display: flex;
    align-items: center;
}
    
.long-and-truncated {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.short-and-fixed {
    white-space: nowrap;
}

.short-and-fixed > * {
    display: inline-block;
}

.long-and-truncated-with-child {
    flex: 1;
    min-width: 0; /* or some value */
}

.long-and-truncated-with-child > h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.maximumWidthForPoster {
    max-width: 100px;
}

.posterSize {
    height: 148px;
    width: 100px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .maximumWidthForPoster {
        max-width: 132px;
    }
    .posterSize {
        height: 196px;
        width: 132px;
    }
}

.addSuggestionButton {
    font-size: 2rem;
    color: teal;
}

img {
    flex-shrink: 0;
}

.tomato {
    background: url(rottentomato.png) no-repeat;
    background-size: cover;
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

i.fa-imdb {
    font-size: 2rem;
}

.alert {
    z-index:1;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.suggestion:nth-of-type(odd) {
    background: #f7f7f7;
}

.suggestion:hover { 
    background: #d5f3f3; 
}

/* TODO: consolidate btn-icon-x */

.btn-icon-danger {
    position: relative;
    padding-left: 50px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-icon-danger :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 8px;
    font-size: 1.2em;
    text-align: center;
    background-color: rgb(189, 34, 50);
}

.btn-icon-success {
    position: relative;
    padding-left: 50px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-icon-success :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 8px;
    font-size: 1.2em;
    text-align: center;
    background-color: rgb(26, 116, 38);
}