.addSuggestionButton {
    font-size: 2rem;
    color: teal;
}

img {
    flex-shrink: 0;
}

.trimLength {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tomato {
    background: url(rottentomato.png) no-repeat;
    background-size: cover;
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

i.fa-imdb {
    font-size: 2rem;
}

.alert {
    z-index:1;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.suggestion:nth-of-type(odd) {
    background: #f7f7f7;
}

.suggestion:hover { 
    background: #d5f3f3; 
}

/* TODO: consolidate btn-icon-x */

.btn-icon-danger {
    position: relative;
    padding-left: 50px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-icon-danger :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 8px;
    font-size: 1.2em;
    text-align: center;
    background-color: rgb(189, 34, 50);
}

.btn-icon-success {
    position: relative;
    padding-left: 50px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-icon-success :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 8px;
    font-size: 1.2em;
    text-align: center;
    background-color: rgb(26, 116, 38);
}