<!DOCTYPE html>
<html>
    <head>
        <title>Moveez - manage your binge!</title>
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <link rel="stylesheet" href="/app.css">
        <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    </head>
    <body>
        
        <div class="ui flex inverted menu">
            <a id="logo" href="/title" class="header item">
                <img src="/logo.png" class="ui image logo" width="40px" height="40px">
                Moveez
            </a>
            <a id="logout" href="/logout" class="header right item">
                logout
            </a>
        </div>

        <% if(success && success.length > 0) { %>
            <div class="ui success icon message">
                <i class="checkmark icon"></i>
                <div class="header">
                    <%= success %>
                </div>
            </div>
        <% } %>

        <% if(success && error.length > 0) { %>
            <div class="ui error icon message">
                <i class="warning icon"></i>
                <div class="header">
                    <%= error %>
                </div>
            </div>
        <% } %>