<!DOCTYPE html>
<html>
    <head>
        <title>Moveez - manage your binge!</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

        <!-- our custom CSS -->
        <link rel="stylesheet" href="/app.css">
        <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    </head>
    <body>
        
        <!-- nav bar -->
        <nav class="navbar navbar-light bg-info text-white justify-content-between navbar-expand-sm">
            <a class="navbar-brand d-flex" href="/title">
                <img src="/logo.png" width="60px" height="60px" class="d-inline-block align-top mr-3" alt="moveez logo">
                <h2 class="d-inline my-auto text-white">Moveez</h2>
            </a>
            <!-- hamburger when collapsed -->
            <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- collapsed nav -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <a id="logout" href="/logout" class="btn btn-social btn-danger">
                    <i class="fas fa-sign-out-alt my-auto"></i> Logout
                </a>
            </div>
        </nav>

        <br>
        
        <!-- TODO: move to own css file -->
        <style>
            .btn-social {
                position: relative;
                padding-left: 50px;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            .btn-social :first-child {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 40px;
                padding: 8px;
                font-size: 1.2em;
                text-align: center;
                background-color: rgb(189, 34, 50);
            }
        </style>

<!-- old layout -->

        <% if(success && success.length > 0) { %>
            <div class="ui success icon message">
                <i class="checkmark icon"></i>
                <div class="header">
                    <%= success %>
                </div>
            </div>
        <% } %>

        <% if(success && error.length > 0) { %>
            <div class="ui error icon message">
                <i class="warning icon"></i>
                <div class="header">
                    <%= error %>
                </div>
            </div>
        <% } %>