#logo {
    background-color: teal;
}

.inline {
    display: inline;
}

.seen {
    text-decoration: line-through;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
